
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Miss+Fajardose&family=Pattaya&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Romanesco&family=Satisfy&display=swap')
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
     background-color:#ffffff;
     width: 1357px;
     height: 103px;}

.container{
display: flex;
height: 1240px;
margin: auto;
/* margin-right: auto; */

}
.nav{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 50px;
    
}

.logo-aminul{
    margin-left: 50px;
    margin-top: 20px;
}
.nav ul li{
    display: inline-block;
    /* margin: 0 10px; */
}
.nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: ease-in-all .2s;
    color: black;
    padding: 10px;
    font-weight: 400;
}
.nav ul li a:hover{
  color: #075aae;
}
.banner{
    background-image:linear-gradient(270deg,rgba(7,90,174,0) 0%,#077ae0 100%), url(banner\(1\).jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;

}
.left-item h1{
    line-height: 1.24;
    width: 754px;
    height: 223px;
    font-size: 60px;
font-family: 'Montserrat',sans-serif;
color: white;
}
.left-item p{
    width: 749px;
    height: 75px;
    /* font-size: 16px; */
    color: white;
    font-size: 16px;
    line-height: 1.72;
    font-style: ;
    font-family: 'Montserrat',sans-serif;
    margin: 30 0 20px;
}
.container-1{
    /* height: 570px; */
    width: 1140px;
    margin: auto;
    display: flex;
}
 .left-item a{
    /* display:block; */
    display: inline-block;
    padding-left: 38px;
    font-weight: 400;
    line-height: 1;
    padding: 12px 24px;
    border-radius: 3px;

    margin: 20px;
}
.left-item .btn-1{
    background-color: #fff;
    color: #000;
}
.left-item .btn-2{
    background-color: #067ae0;
    color: #fff;
}
.fot-title{
    width: 900px;
    font: 29px;
    font-size: 21px;
    font-family:'Montserrat',sans-serif ;
    text-align: center;
    margin: auto;
    font-weight: normal;

}
.container-2{
    width: 1343px;
    height: 199px;
    background: #f4f6f6;
    color: #000;
    font-size: 16px;
    padding: 20px 0;
    font-family:'Montserrat',sans-serif ;
}
.loge-5{
    margin: auto;
    text-align: center;
}
.ido-heading{
    text-align: center;}
    

.container-3{
    width: 1150px;
    /* height: 490px; */
    margin: auto;
}
.ido-heading h1{
    font-size: 40px
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}
.ido-heading p{
    width: 323px;
    height: auto;
    line-height: 25px;
    font-size: 10px;
    margin: auto;
    font-family: 'Montserrat',sans-serif ;
}
.ido-boxes{
    display: flex;
    font-family: 'Montserrat',sans-serif ;
    justify-content: space-between;
    /* margin-top: 30px; */
    padding: 70px 40px;
}
.box-1{
    width: 350px;
    height: auto;
    background: #075AAE;
    color: #fff;
  
    /* font-family: 'Montserrat',sans-serif ; */
  
}
.box-1 p{
    font-size: 10px;
    line-height: 26px;
    padding: 30px 0 40px;
    padding: 20px;


    /* font-family: 'Montserrat',sans-serif ; */
    /* text-align: center; */
}
.box-1 h2{
    font-size: 40px;
    font-weight: 500;
    margin-left: 100px;
    justify-content: center;
   
    /* margin-top: 80px;
    text-align: center;
    font-family: 'Montserrat',sans-serif ; */
}
.box-1 a{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 30px;
    /* background:#075AAE; */
    color: #fff;
    padding: 18px 38px;
    border: 1px solid white;
  
}
.box-1 hr{
    border: 1px solid rgb(109, 123, 215);
    width: 50px;
    color: #075aae;
    background-color: #067ae0;
    outline: none;
    margin-top: 60px;
 
}
.container-4{
    display: flex;
    width: 741px;
    height: 338px;
    background-color: #f4f6f6;
    margin: auto;
    justify-content: space-between;
}
.adviser{
    width: 245px;
    height: 335px;
  margin: auto;
}
.need{
    width: 184px;
    height: 238px;
    
}
.adviser h1{
   /* font-size: 40px; */
   font-size: 2.5rem;
   color: #000;
   font-weight: 400;
   line-height: 1;
   font-family: 'Montserrat',sans-serif;
}
.adviser p{
    font-size: 10px;
    font-family:'Montserrat',sans-serif; ;
    padding-right: 50px;
}
.adviser a{

}
.need h1{
    color: #000;
    /* text-align: center; */
    font-size: 1.7em;
    line-height: 1.3; 
    padding-left:50px ; 
}
.need p{
    padding-left:60px ;
    margin-bottom: 40px;
    
}
.need a{
    background: #075aae;
    color: #fff;
    padding: 8px 15px;
    /* margin-bottom: 20px; */
    margin-left: 50px;
}

.images{
    width: 128px;
    height: 317px;

}
.logo-1{
    width: 108px;
    height: 155px;
    display: inline-block;

}
.logo img{
    height: 100px;
    width: 100px;
    padding-top: 200px;

}
.my-cource h1{
    
    text-align: center;
    margin-top: 55px;
    margin-right: 40px;
    font-size:10px;
    color:black;
    /* font-size: 1.3125rem; */
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
}
.ebook p{
    width: 188px;
    height: 96px;
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 50px;
    padding: 30px;
    font-family: 'Montserrat',sans-serif;
}
.my-cource a{
    margin-left: 100px;
  background: #075aae;
  color: #fff;
  padding: 8px 15px;
    
}
.container-5{
    width: 1342px;
    border-top: 40px;
    height: 415px;
    background-color: #075aae;
    background-image: linear-gradient(90deg,rgba(7,90,174,0) 0%, #075aae  80%), url(test-img.jpg);
    background-position: bottom left;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.t-1{
    width: 733px;
    height: 201px;
    display: flex;
    margin: auto;
}
.testimonials{
    width: 369px;
    height: 195px;
    font-family: 'Montserrat',sans-serif;
}
.testimonials-blank{
width: 364px;
height: 201px;
}
.testimonials h1{
    font-size: 30px;
    font-weight: 500;
    color: #fff;  
    margin-top: 120px; 
}
.testimonials p{
    font-size: 10px;
    font-weight: 200;
    color: #fff;   
}
.testimonials hr{
    width: 40px;
    border: 1px solid #fff;
    border-bottom: 0;
   margin-left: 0;
   margin-top: 50px;
}
.ami{
    background: #eff2f3; 
    width: 1354px;
    height: 684px;
}
.container-6{
    margin-top: 100px;
    /* background-color: #eff2f3; */
    width: 1338px;
    height: 605px;
   
   
}


.box-story{
   background-color: #fff;
    margin: auto;
    width: 737px;
    height: 416px;
    display: flex;
    }


.my-story{
    background-color: #fff;
    width: 443px;
    height: 411px;
    font-size: 40px;
    font-size: 2.5rem;
    font-family: 'Montserrat',sans-serif;
}
.my-story h2{
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;}
    .my-story p{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0px;
        padding: 15px;
        color: #000000;
        font-family: 'Montserrat',sans-serif;}


.my-image{
    width: 297px;
    height: 411px;
    background: url(story-free-img.jpg);
    background-position:center
    background-repeat: no-repeat;
    background-size: cover;
}
.my-story a{
background-color: #4169e1;
padding: 8px 15px;
color: #fff;
margin-bottom: 30px;
text-decoration: none;
font-size: 10px;
margin-left: 150px;

}
.my-story a:hover{
   background-color:#093fe1; 
   color: white;
    
    }
    .container-7{
        width: 1347px;
        height: 242px;
        background-color: #075aae;
    }
    .goals{
        font-family: 'Montserrat',sans-serif;
        width: 339px;
        height: 112px;
        color: #fff;
        margin: auto;
        position: relative;
       top: 70px;
       font-weight: 300;

    }
    .finish{
        display:flex;
        justify-content: space-between;
        padding: 30px 300px;
        font-size: 10px;
        font-family: 'Montserrat',sans-serif;
        
    }